* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}
.box {
  background-color: skyblue;
  height: 20rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, skyblue, pink);
  overflow: hidden;
  border: 3px solid red;
  border-color: pink skyblue pink skyblue;
}
.box h1 {
  background: linear-gradient(to bottom, rgb(9, 172, 242), rgb(207, 128, 141));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.box h2 {
  letter-spacing: 3px;
}
.inputFeild {
  background-color: rgb(163, 207, 225);
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 2rem;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  margin-top: 2rem;
}
.copyRight {
  font-size: 0.7rem;
}
.errorMessage {
  margin-top: 4rem;
}
